.board {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.line {
  display: flex;
  gap: 4px;
}

.tile {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border: 1px solid white;
  text-transform: capitalize;
}

.green {
  background-color: #538d4e;
}

.yellow {
  background-color: #b49f3a;
}

.grey {
  background-color: #3a3a3c;
}
